<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="./icons/browserconfig.xml" name="msapplication-config" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Rekomendasi Pemadam Kelaparan Terbaik" />
    <meta name="theme-color" content="#444736" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./icons/favicon-16x16.png"
    />
    <link rel="manifest" href="./app.webmanifest" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css"
    />
    <title>Pemadam Kelaparan</title>
  </head>
  <body>
    <a href="#content" class="skip-link">Skip to content ?</a>
    <header>
      <app-bar></app-bar>
    </header>
    <nav-bar></nav-bar>

    <main id="mainContent"></main>
    <footer>
      <p>Copyright © 2023 - Pemadam Kebakaran Apps</p>
    </footer>
  </body>
</html>
